* {
border: none;
border-radius: 30px;
cursor: pointer;
color: #000;
font-weight: 600;
transition: 0.3s;
}
.btn:hover {
transform: scale(1.05);
}


.search-section, .playlist-section {
padding: 80px 40px;
}
.search-section h2, .playlist-section h2 {
margin-bottom: 20px;
font-size: 28px;
}
#searchInput {
width: 300px;
padding: 10px;
border-radius: 6px;
border: none;
margin-right: 10px;
}
.results {
margin-top: 20px;
}
.result-item {
background: #1e1e1e;
padding: 15px;
border-radius: 10px;
margin-bottom: 10px;
}


.playlist-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
gap: 20px;
}
.playlist-card {
background: #1e1e1e;
padding: 15px;
border-radius: 14px;
text-align: center;
transition: 0.3s;
}
.playlist-card:hover {
transform: translateY(-5px);
}
.playlist-card img {
width: 100%;
border-radius: 10px;
}


.footer {
text-align: center;
padding: 20px;
background: #000;
margin-top: 40px;
}